*{
    margin: 0;
    padding: 0;
}

.wrapper-home{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    height: 100vh;
    margin-bottom: 70px;
}

.item-home{
   background: #330BD0;
}

.item-home:nth-child(1){
    grid-column: span 3;
    grid-row: span 2;
    background: #FF68D5;
}

.item-home:nth-child(2), .item-home:nth-child(3), .item-home:nth-child(7){
    grid-column: span 2;
    background: #23ECF9;
}

.item-home:nth-child(4){
    grid-column: span 5;
    background: #F80000;    
}

.item-home:nth-child(5){
    grid-row: span 2;
    background: #23ECF9;
}

.item-home:nth-child(10){
    grid-column: span 3;
    background: #8DFF65;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
   height: 800px;
   margin-bottom: 70px;
}

.item{
    background: rgb(130, 130, 236);

}

.item:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
    background: #5FCDC6;
}

.item:nth-child(2){
    grid-column: span 3;
    grid-row: span 3;
    background: #825FCD;
}

.item:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
    background: #5FCDC6;
}

/* .item:nth-child(4){
    grid-column: span 1;
    background: #3755A0;
} */

.item:nth-child(5){
    grid-column: span 2;
    grid-row: span 3;
    background: #CD5FC9;
}

.item:nth-child(6){
    grid-column: span 3;
    grid-row: span 2;
    background: #DB447B;
}

.wrapper-red{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    height: 100vh;

}

.item-red{
    background: #D12C2C;
    
}
.item-red:nth-child(1), .item-red:nth-child(2), .item-red:nth-child(7), .item-red:nth-child(8), .item-red:nth-child(9){
    grid-row: span 2;
}

.item-red:nth-child(3), .item-red:nth-child(11){
    grid-column: span 3;
}

.item-red:nth-child(4), .item-red:nth-child(6){
    grid-row: span 3;
}

.item-red:nth-child(5){
    grid-column: span 2;
}











